<div id="setupPage">
    <form [formGroup]="setupForm" (ngSubmit)="finishRegistration()">
        <h1>Hey! Let's set up your username.</h1>
        <div class="form-group">
            <input type="text" class="form-control" formControlName="username" name="username" placeholder="My username will be...">
        </div>        
        <h2>And your avatar too!</h2>
        <div class="avatars col-md-3">
            <img *ngFor="let avatar of avatars" [ngClass]="isAvatarSelected(avatar) ? 'selectedAvatar' : ''" src="../../../assets/img/avatars/{{avatar}}.jpg" alt="avatar" (click)="selectAvatar(avatar)">
        </div>
        <h2>How old are you?</h2>
        <div class="form-group">
            <input type="number" class="form-control" formControlName="age" name="age" placeholder="Age">
            <div data-bs-toggle="tooltip" data-bs-placement="left" title="This field is not required, it is used for statistical purposes.">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                </svg>
            </div>
        </div>   
        <h2>Gender</h2>
        <div class="form-group">
            <select class="custom-select genre" formControlName="gender" name="gender">
                <option value="None" selected>None</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            <div data-bs-toggle="tooltip" data-bs-placement="left" title="This field is not required, it is used for statistical purposes.">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                </svg>
            </div>
        </div>  
        <h2>Do you have any favorite movie genres?</h2>
        <div class="genres">
            <div *ngFor="let genre of genres" [ngClass]="isGenreSelected(genre) ? 'genre selectedGenre' : 'genre'" (click)="selectGenre(genre)">
                {{genre}}
            </div>
        </div>
        <button type="submit" class="btn btn-success">Finish!</button> 
    </form>
</div>