<app-navbar></app-navbar>
<app-filter-bar (passValue)="recieveSearchValue($event)" (passPageValue)="receivePageValue($event)"></app-filter-bar>
<div id="homePage">
    <app-all-genres *ngIf="pages.get('home')"></app-all-genres>
    <app-separate-content *ngIf="search" [name]="'Search'" [movies]="searchResult"></app-separate-content>
    <app-separate-content *ngIf="pages.get('trending')" [name]="'Trending'" [movies]="trendingResult"></app-separate-content>
    <app-separate-content *ngIf="pages.get('myList')" [name]="'My List'" [movies]="myListResult"></app-separate-content>
</div>