.form-check {
    padding: 0;
    margin: 8px 0px;
    input {
        margin: 5px 0px;
    }
    small {
        color: red !important;
    }
    /*
    label > span {
        color: rgb(0, 136, 255);
    }
    */
    .errorSign {
        color: red !important;
    }
}