<div class="form-group">
    <label for="{{input.getNameValue()}}">{{input.getLabelValue().charAt(0).toUpperCase() + input.getLabelValue().slice(1)}} <span *ngIf="input.getRequiredValue()" data-bs-toggle="tooltip" data-bs-placement="right" title="This field is required!">*</span></label>
    <input type="{{input.getTypeValue()}}" class="form-control" formControlName="{{input.getNameValue()}}" name="{{input.getNameValue()}}" placeholder="{{input.getPlaceholderValue()}}">
    <small class="form-text text-muted">{{input.getInfoValue()}}</small>
</div>

