.movieCard {
    width: 200px;
    height: 320px;
    background: linear-gradient(to right, #A74AC6 0%, #6B45C4 100%);

    margin: 10px 3px;
    display: block;
    float: left;

    img {
        width: 100%;
    }
}