:host {
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    img {
        margin: 20px auto;
    }
}